html{
  --primary-color:#0081CF;
  --secondary-color:#FF9671;
  --primary-text-color:#C34A36;
  --secondary-text-color:#B740AD;
  --extra-color:#a3ff4a
}

header{
  text-align: center;
  background-color:var(--primary-color);
  padding:0.2rem;

}




body{
  font-family: 'Indie Flower', cursive;
  color:var(--primary-text-color);
  background-color: var(--extra-color);

}

h1{
  display: flex;
  font-size: 3.5em;
  justify-content: center;
}

h2{
  text-align: center;
}
p{
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
}

nav ul{
  display: flex;
  font-size: 1em;
  justify-content:space-around;
  list-style-type: none;
}

ol li{
  text-align: center;
  font-size:1 rem;
}

ul{
  padding:0;
}
figcaption{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button{
  padding:0.5rem;
  background-color:var(--secondary-color);
  border-radius: 3px;
}

.button a{
  text-decoration: none;
}

.flex{
  display:flex;
  justify-content: space-between;
  max-width: 100%;
  font-size: 0.75em;
  text-align: center;
  border-style: inset;
  flex-wrap: wrap;
}



figure img{
  max-width: 100%;
  justify-content: flex-start;
  height:200px;
  overflow: hidden;


}

#rules{
  text-align: center;
  font-size:20px;

}

form{
  display:flex;
  flex-direction: column;
  font-family: 'Indie Flower', cursive;

}
#rugbyvid{
  align-content: center;
  padding-top: 2rem;
}
.rules-site{
text-align: center;
font-size: 20px;

}


