html{
  --primary-color:#0081CF;
  --secondary-color:#FF9671;
  --primary-text-color:#C34A36;
  --secondary-text-color:#B740AD;
}

header{
  text-align: center;
  background-color:var(--primary-color);
  padding:0.2rem;

}

body{
  font-family: 'Indie Flower', cursive;
  color:var(--primary-text-color);

}

h1{
  display: flex;
  font-size: 3.5em;
  justify-content: center;

}

nav ul{
  display: flex;
  font-size: 0.7em;
  justify-content:space-around;
  list-style-type: none;
}

ul{
  padding:0;
}

.button{
  padding:0.5rem;
  background-color:var(--secondary-color);
  border-radius: 3px;
}

.button a{
  text-decoration: none;
}

@media screen and (min-width: 885px){
  #hero{
    background:url(http://cdn3.whatculture.com/images/2015/08/EeB5ATUI-600x338.jpg);
    height: 40vh;
    width:125vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

figure,img{
  max-width: 100%;
  border-radius: 50%;
}

